<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>NME Main</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/custom.css">
        <link rel="stylesheet" href="../css/customscroll.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" href="../assets/nm.ico">
    </head>
    <body class="mainpg">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top topnav">
            <img class="navbar-brand" src="../assets/nm.png">
        </nav>
        <span style="font-size:30px;cursor:pointer; margin-top: 0px; " onclick="openNav()">&#8943;</span>
        <div class="sidenav" id="mySidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a>
            <a style="cursor: default">Recommended</a>
            <a href="/main/popartists">Popular Artists</a>
            <a href="/main/topsongs">Popular Songs</a>
            <a href="/main/albums">Top Albums</a>
            <hr>
            <a style="cursor: default">Your Music</a>
            <a href="#">Liked Songs</a>
            <a href="#">Liked Albums</a>
            <a href="#">Artists you follow</a>
            <hr>
            <a style="cursor: default">Your Profile</a>
            <a href="/profile">Profile</a>
            <a href="/mail">Send Email</a>
            <a href="">Check your mail</a>
        </div>

        <div id="main" class="mainpg">

            <div class="container">
                <div class="row">
                    <div class="col cc">
                        <h2 class="fadeineff"><%= title%></h2>
                    </div>
                </div>
                <!--Fill dynamically-->
                <!--print 4 albums per row-->
                <%if(topsongs==null){%>
                <div class="albumcontainer" id="albumcontainer">
                    <div class="row mt-3">
                        <%if(topalbums!=null) {%>
                                <%for(var i = 0; i < topalbums.length; i++){%>
                                    <%include partials/_albumcard%>
                                <%}%>  
                        <%}%>
                        <%if(artists!=null) {%>
                                <%for(var i = 0; i < artists.length; i++){%>
                                    <%include partials/_artistcard%>
                                <%}%>
                        <%}%>
                        
                    </div>
                </div>
                <%}else{%>
                    <%include partials/_songstable%>
                <%}%>
            </div>
        </div>

        
        <script src="../js/sidenav.js"></script>
    </body>
    <footer>
       <% include partials/_player %>
    </footer>
</html>
