<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NVE Profile</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/profile.css">
        <link rel="stylesheet" href="../css/modal.css">
    </head>
    <body class="fadeineff">
        <!--Top navigation bar-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <img class="navbar-brand" src="../assets/nm.png">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/main/albums">Discover <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        </nav>

        <div role="main" class="container maincontainer">

        </div>

        <!--Scripts-->
    </body>
    <footer>

        <!--Scripts for the Music player-->
        <!--Music player-->

    </footer>
</html>
