<% include partials/_headerR %>
    <div class="contendedor-form">

      <div class="formulario">
        <center><div class="col-12 user-img">
            <img src="../assets/user.png" th:src="@{/user.png}"/>
        </div></center>
        <center><h2>Registrar Usuario</h2></center>
        <% if(message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>
        <!-- Form to register a normal User or Artist -->
        <form action="/registro1" method="post" id="userdata">
          <input type="text" placeholder="Name" name="name" class="form-control" required>
          <input type="text" placeholder="Last Name" name="lastname" class="form-control" required>
          <input type="text" placeholder="Email" name="email" class="form-control" required>
          <hr>
          <input type="text" placeholder="User Name" name="username" class="form-control" required>
          <input type="password" placeholder="Password" name="password" class="form-control" required>
          <select form="userdata" name="type">
              <option selected>Artist</option>
              <option>Simple</option>
          </select>
          <hr>
          <input type="submit" class="btn btn-succcess btn-lg" value="Register User">
        </form>
      </div>

      <!-- Form to register a Record Label -->
      <div class="formulario">
        <center><div class="col-12 user-img">
            <img src="../assets/empresa.png" th:src="@{/user.png}"/>
        </div></center>
        <center><h2>Registrar Empresa</h2></center>
        <form action="/registro2" method="post" id="rldata">
          <input type="text" placeholder="Record Label" name="name_rl" class="form-control" required>
          <input type="text" placeholder="Direction" name="dir_rl" class="form-control" required>
          <input type="text" placeholder="Country" name="country_rl" class="form-control" required>
          <input type="text" placeholder="Phone Number" name="tel_rl" class="form-control" required>
          <input type="text" placeholder="Email" name="email_rl" class="form-control" required>
          <hr>
          <input type="text" placeholder="Record Label ALIAS" name="username_rl" class="form-control" required>
          <input type="password" placeholder="Password" name="password_rl" class="form-control" required>
          <select form="rldata" name="type">
              <option selected>Business</option>
          </select>
          <input type="submit" class="btn btn-succcess btn-lg" value="Register Record Label">
        </form>
      </div>
      <div class="toggle">

        <img src="../assets/flecha.png"  height="45px" width="80px">
      </div>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
