<% include partials/_headerR %>
    <div class="contendedor-form">

      <div class="formulario">
        <center><div class="col-12 user-img">
            <img src="../assets/user.png" th:src="@{/user.png}"/>
        </div></center>
        <center><h2>Registrar Usuario</h2></center>
        <% if(message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>
        <form action="/registro1" method="post">
          <input type="text" placeholder="Nombres" name="nombre" class="form-control" required>
          <input type="text" placeholder="Apellidos" name="apellido" class="form-control" required>
          <input type="text" placeholder="Usuario" name="username" class="form-control" required>
          <input type="password" placeholder="Contraseña" name="password" class="form-control" required>
          <input type="text" placeholder="Correo Electrónico" name="correo" class="form-control" required>
          <input type="text" placeholder="Teléfono" name="telefono" class="form-control" required>
          <input type="submit" class="btn btn-succcess btn-lg" value="Registrar Usuario">
        </form>
      </div>


      <div class="formulario">
        <center><div class="col-12 user-img">
            <img src="../assets/empresa.png" th:src="@{/user.png}"/>
        </div></center>
        <center><h2>Registrar Empresa</h2></center>
        <form action="/registro2" method="post">
          <input type="text" placeholder="Nombres" name="nombreE" class="form-control" required>
          <input type="text" placeholder="Usuario" name="usernameE" class="form-control" required>
          <input type="password" placeholder="Contraseña" name="passwordE" class="form-control" required>
          <input type="text" placeholder="Correo Electrónico" name="correoE" class="form-control" required>
          <input type="text" placeholder="Teléfono" name="telefonoE" class="form-control" required>
          <input type="submit" class="btn btn-succcess btn-lg" value="Registrar Usuario">
        </form>
      </div>
      <div class="toggle">

        <img src="../assets/flecha.png"  height="45px" width="80px">
      </div>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/main.js"></script>
<% include partials/_footerR %>
