<div class="col-3">
    <!--<div class="row-3 cc">-->
        <div class="card albumcard fadeineff " onclick="playalbum('<%=topalbums[i].album%>', '<%=topalbums[i].artist%>')">
            <div class="card-body cc">
                <!--Album portrait <img src="../assets/defaultdisc.png" class="albumimg">-->
                <!-- Artist Name -->

                <label id="album_title"><%=topalbums[i].album%></label>
                <hr>
                <!--Album title-->
                <label id="album_artist"><%=topalbums[i].artist%></label>
            </div>
        </div>
    <!--</div>-->
</div>

<script src="../js/cardsproccessing.js"></script>
