<div class="col-3">
    <div class="card albumcard">
        <div class="card-body">
            <!--Album portrait-->
            <img src="../assets/defaultdisc.png" class="albumimg">
            <hr>
            <!--Album title-->
            <label id="album_title"><%=albums[i]%></label>
        </div>
    </div>
</div>