<div class="col-3">
    <!--<div class="row-3 cc">-->
        <div class="card albumcard fadeineff " onclick="getProfile('<%=artists[i].artist%>')">
            <div class="card-body cc">
                <!--Album portrait <img src="../assets/defaultdisc.png" class="albumimg">-->
                <!-- Artist Name -->
                <hr>
                <!--Album title-->
                <label id="album_artist"><%=artists[i].artist%></label>
            </div>
        </div>
    <!--</div>-->
</div>
<script src="../js/cardsproccessing.js"></script>
