<!-- Modal Module-->
<button type="button" class="btn" id="createbtn">Create Album</button>
<div class="modal" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="color:black;">Create an Album</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closecr">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form action="/create_album" method="post" enctype="multipart/form-data" id="dataform">
                    <input type="text" placeholder="Album Title" name="albumtitle" class="form-control" >
                    <input type="text" placeholder="Year of release" name="year" class="form-control" >
                    <input type="file" name="avatar" placeholder="Upload an Album image"/>
                    <hr>
                    <input type="submit" class="btn btn-primary btn-block" value="Create Album" id="createalbum">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../js/modal.js"></script>
