<div class="row">
    <div class="col cc">
        <h2 class="fadeineff"><%= title%></h2>
    </div>
</div>
<!--Fill dynamically-->
<!--print 4 albums per row-->
<%if(topsongs==null){%>
<div class="albumcontainer" id="albumcontainer">
    <div class="row mt-3">
        <%if(topalbums!=null) {%>
                <%for(var i = 0; i < topalbums.length; i++){%>
                    <%include _albumcard%>
                <%}%>  
        <%}%>
        <%if(artists!=null) {%>
                <%for(var i = 0; i < artists.length; i++){%>
                    <%include _artistcard%>
                <%}%>
        <%}%>

    </div>
</div>
<%}else{%>
    <%include _songstable%>
<%}%>