<%if(albums.lenght == 0){%>
  <h3> Nothing around here <!h3>
<%}else{%>
<%for(var i = 0; i < albums.lenght; i++){%>
<div class="col-3">
    <!--<div class="row-3 cc">-->
        <div class="card albumcard fadeineff" onclick="playalbum('<%=albums[i].album%>', '<%=albums[i].artist%>')">
            <div class="card-body cc">
                <!--Album portrait <img src="../assets/defaultdisc.png" class="albumimg">-->
                <!-- Artist Name -->

                <label id="album_title"><%=albums[i].album%></label>
                <hr>
                <!--Album title-->
                <label id="album_artist"><%=albums[i].artist%></label>
            </div>
        </div>
    <!--</div>-->
</div>
<%}%>
<%}%>
<script src="../js/cardsproccessing.js"></script>
