<div class="container mt-5 fadeineff">
    <div class="row fixed">
        <div class="col cc">
            <h2>Songs</h2>
        </div>
    </div>
    <table class="table ">
        <thead>
            <tr>
                <th>Title</th>
                <th>Album</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody id="songlist">
            <!--Fill dynamically-->
            <%for(var i = 0; i<topsongs.length; i++){%>
                <tr>
                    <td><%=topsongs[i].title%></td>
                    <td><%=topsongs[i].album%></td>
                    <td><%=topsongs[i].artist%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</div>