<div class="container mt-5">
    <div class="row fixed">
        <div class="col cc">
            <h2>Songs</h2>
        </div>
    </div>
    <table class="table ">
        <thead>
            <tr>
                <th>Title</th>
                <th>Duration</th>
                <th>Album</th>
                <th>Year of Release</th>
            </tr>
        </thead>
        <tbody id="songlist">
            <!--Fill dynamically-->

            <tr>
                <td>topsongs[i].title</td>
                <td>topsongs[i].duration</td>
                <td>topsongs[i].album</td>
                <td>topsongs[i].artist</td>
            </tr>

        </tbody>
    </table>
</div>