<!-- Modal Module-->
<button type="button" class="btn" id="uploadbtn">Upload</button>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="color:black;">Upload a Song</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closecr">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form action="/upload_media" method="post" enctype="multipart/form-data" id="dataform">
                    <input type="text" placeholder="Song Title" name="songtitle" class="form-control" >
                    <input type="text" placeholder="Artist" name="artist" class="form-control" >
                    <select form="dataform" name="album">
                        <option selected>Single</option>
                        <%for(var i = 0; i < albumsd.length; i++){%>
                          <option><%=albumsd[i].album%></option>
                        <%}%>
                    </select>
                    <input type="file" name="myfile" multiple/>
                    <hr>
                    <input type="submit" class="btn btn-primary btn-block" value="Upload" id="uploadmedia">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../js/modal.js"></script>
